.container {
  min-height: 100vh;

  @include flex(column, flex-start, center);
  color: $color-white;
  .header {
    color: #000;
    background: $color-primary;
    min-height: 25vh;
    width: 100%;
    @include flex(column, space-evenly, center);
    h2 {
      color: $color-white;
      font-weight: 600;
      padding: 2rem;
    }
  }
}

.search {
  width: 100%;
  @include flex(flow, center, center);
  width: 50%;
  &__input {
    padding: 0.5rem;
    width: 40%;
    margin-right: 1rem;
    border: none;
    border: 1px solid black;
  }
}
