.container {
  min-height: 100vh;

  @include flex(column, flex-start, center);
  color: $color-white;
  .header {
    color: #000;
    background: $color-primary;
    min-height: 25vh;
    width: 100%;
    @include flex(column, space-evenly, center);
    h2 {
      color: $color-white;
      font-weight: 600;
      padding: 2rem;
    }
  }
}

.search {
  width: 100%;
  @include flex(flow, center, center);
  width: 50%;
  &__input {
    padding: 1rem;
    width: 40%;
    border: none;
    border: 1px solid black;
  }
}
main {
  width: 80%;
  margin: auto;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 5rem;
  &__info {
    @include flex(row, space-between, center);
    padding: 0.5rem 0;
    p {
      a {
        color: $color-primary;
      }
    }
    a {
      color: white;
    }
  }

  &__img {
    overflow: hidden;
    padding: 2rem 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.nav-button {
  min-height: 30vh;
  @include flex(row, center, center);
}

.more {
  background: $color-primary;
}
